<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blockchain UI</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #37526d;
            font-family: 'Arial', sans-serif;
        }

        .container {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
            
            border-radius: 8px;
        }

        h1, h2 {
            color: #37526d;
            margin-bottom: 20px;
        }

        button {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class=" p-5">
        <h1 class="text-center text-white">CBA Coin All in One Page</h1>
        <div class="row mt-6 ">
            <div class="col-md-5 container ">
                <div class="">
                    <h2>Register User</h2>
                    <form class="p-3" id="registerUserForm">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        <button type="button" class="btn btn-info float-right" onclick="registerUser()">Register
                            User</button>
                    </form>
                </div>
                <div class="mt-5 ">
                    <h2>User Balances</h2>
                    <button type="button" class="btn btn-info btn-block" onclick="getUserBalances()">Get User
                        Balances</button>
                    <pre id="userBalancesOutput"></pre>
                </div>
                


            </div>
            
            <div class="col-md-5 container ">
                <h2>New Transaction</h2>
                <form class="p-3" id="transactionForm">
                    <!-- Sender Container -->
                    <div class="form-group">
                        <label for="sender">Sender</label>
                        <div class="input-group">
                            <select class="custom-select" id="sender" required>
                                <!-- Options will be dynamically populated using JavaScript -->
                            </select>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary"
                                    onclick="populateUserList('sender')">Refresh</button>
                            </div>
                        </div>
                    </div>
                    <!-- Transaction Password -->
                    <div class="form-group">
                        <label for="transactionPassword">Password</label>
                        <input type="password" class="form-control" id="transactionPassword" required>
                    </div>
                    <!-- Recipient Container -->
                    <div class="form-group">
                        <label for="recipient">Recipient</label>
                        <div class="input-group">
                            <select class="custom-select" id="recipient" required>
                                <!-- Options will be dynamically populated using JavaScript -->
                            </select>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary"
                                    onclick="populateUserList('recipient')">Refresh</button>
                            </div>
                        </div>
                    </div>
                    <!-- Amount -->
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="amount" required>
                    </div>
                    <!-- Submit Transaction Button -->
                    <button type="button text" class="btn btn-success float-right" onclick="newTransaction()">Submit
                        Transaction</button>
                </form>

                <h2 class="mt-5">Mine New Block</h2>
                <button type="button" class="btn btn-primary btn-block" onclick="mine()">Mine Block</button>
            </div>

        </div>

        <div class="row mt-6">
            <div class="col-md-5 container">
                <h2>Blockchain</h2>
                <button type="button" class="btn btn-info btn-block" onclick="getChain()">Get Blockchain</button>
                <pre id="chainOutput"></pre>
            </div>
            <div class="col-md-5 container">
                <h2>Resolve Conflicts</h2>
                <button type="button" class="btn btn-warning btn-block" onclick="resolveConflicts()">Resolve
                    Conflicts</button>
                <pre id="resolveOutput"></pre>
            </div>

        </div>

    </div>

    <!-- Add Bootstrap JS and Popper.js scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Add custom JavaScript -->
    <script>
        
        function mine() {
            fetch('/mine', { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                });
        }
        function populateUserList(targetInput) {
            fetch('/get_user_list', { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    const userList = data.users;
                    const selectElement = document.getElementById(targetInput);

                    // Clear existing options
                    selectElement.innerHTML = '';

                    // Add default option
                    const defaultOption = document.createElement('option');
                    defaultOption.value = '';
                    defaultOption.text = `Select ${targetInput}`;
                    selectElement.add(defaultOption);

                    // Add users as options
                    userList.forEach(user => {
                        const option = document.createElement('option');
                        option.value = user;
                        option.text = user;
                        selectElement.add(option);
                    });
                });
        }
        function newTransaction() {
            const sender = document.getElementById('sender').value;
            const recipient = document.getElementById('recipient').value;
            const amount = document.getElementById('amount').value;
            const transactionPassword = document.getElementById('transactionPassword').value;

            fetch('/transactions/new', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    sender: sender,
                    recipient: recipient,
                    amount: amount,
                    password: transactionPassword,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                });
        }


        function registerUser() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            fetch('/register_user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: username,
                    password: password,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                });
        }

        function getUserList(targetInput) {
            fetch('/get_user_list', { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    const userList = data.users;
                    const selectedUser = prompt(`Select ${targetInput}:\n${userList.join(', ')}`);
                    if (selectedUser) {
                        document.getElementById(targetInput).value = selectedUser;
                    }
                });
        }

        function getChain() {
            fetch('/chain', { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('chainOutput').innerText = JSON.stringify(data.chain, null, 2);
                });
        }

        function resolveConflicts() {
            fetch('/nodes/resolve', { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('resolveOutput').innerText = JSON.stringify(data, null, 2);
                });
        }
        function getUserBalances() {
            fetch('/get_user_balances', { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('userBalancesOutput').innerText = JSON.stringify(data, null, 2);
                });
        }
    </script>
</body>

</html>